/* General Styles */
body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #e71717;
}

header {
    background-color: #333;
    color: white;
    padding: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header .logo h1 {
    margin: 0;
}

nav ul {
    list-style-type: none;
  
    display: flex;
}

nav ul li {
    margin-right: 20px;
}

nav ul li a {
    color: white;
    text-decoration: none;
}

nav ul li a:hover {
    text-decoration: underline;
}

/* Hero Section */
.hero {
    background-image: url('https://as2.ftcdn.net/v2/jpg/01/91/94/95/1000_F_191949526_DEJzqkMFKT2eBF61ZvE9YbpmPBVfqIot.jpg');
    background-size: cover;
    color: white;
    text-align: center;
    padding: 100px 0;
}

.hero h2 {
    font-size: 48px;
    margin-bottom: 20px;
}

.hero p {
    font-size: 20px;
    margin-bottom: 40px;
}

.cta {
    background-color: #e91e63;
    color: white;
    padding: 10px 20px;
    text-decoration: none;
    font-weight: bold;
}

.cta:hover {
    background-color: #d81b60;
}

/* About Section */
#about {
    padding: 50px 20px;
    text-align: center;
    background-color: white;
}

#about h2 {
    margin-bottom: 20px;
}

/* Collection Section */
#collection {
    padding: 50px 20px;
    background-color: #f9f9f9;
    text-align: center;
}

#collection h2 {
    margin-bottom: 30px;
}

.gallery {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.gallery .item {
    margin: 15px;
}

.gallery .item img {
    max-width: 100%;
    height: auto;
    border-radius: 5px;
}

.gallery .item p {
    margin-top: 10px;
}

/* Contact Section */
#contact {
    padding: 50px 20px;
    background-color: white;
    text-align: center;
}

#contact h2 {
    margin-bottom: 20px;
}

/* Footer */
footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 15px;
}

footer p {
    margin: 0;
}